UCRAWL_HOST_PORT=8000
UCRAWL_INSTALL_PLAYWRIGHT=0
UCRAWL_APT_MIRROR=https://mirrors.tuna.tsinghua.edu.cn/debian
UCRAWL_APT_SECURITY_MIRROR=https://mirrors.tuna.tsinghua.edu.cn/debian-security
UCRAWL_PIP_INDEX_URL=https://pypi.tuna.tsinghua.edu.cn/simple
UCRAWL_PIP_TRUSTED_HOST=pypi.tuna.tsinghua.edu.cn
UCRAWL_PIP_EXTRA_INDEX_URL=
UCRAWL_HTTP_PROXY=
UCRAWL_HTTPS_PROXY=
UCRAWL_NO_PROXY=127.0.0.1,localhost
UCRAWL_EXTRA_ARGS=
